body {
    font-family: 'Lucida Console', sans-serif;
    margin: 10px 15px;
    background: #ffffbf;
}

a, .fas {
    color: #8a2200;
}

a:hover {
    color: #33bbdf;
}

header, footer, div.page {
    background: #ffffbf;
    padding: 20px 30px;
}

header h1 {
    color: #8a2200;
    margin: 0;
    font-weight: normal;
    font-size: 42px;
}

header nav ul {
    list-style: none;
    margin: 20px 0px;
    padding: 0px;
}

header nav ul li {
    display: inline;
    margin: 0 40px 0 0;
    padding: 0;
}

div.page {
    background: #fcfcd7;
    line-height: 1.5;
    width: 60%;
}

code {
    background: #d1d1d1;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

span.blockspam {
    display: none;
  }
